<IfModule authz_core_module>
    # Require all denied
    Deny from all
    RewriteEngine on
    RewriteCond $1 !^(index\.php|images|assets|robots\.txt)
    RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>